database:
  DB_HOST : "localhost"
  DB_PORT : "5432"
  DB_NAME : "movie_rental"
  DB_USER : ""
  DB_PASSWORD : ""
  DB_STRING_CONNECTION : "jdbc:postgresql://localhost:5432/movie_rental"
pyspark:
  JDBC_DRIVER_PATH : "/home/user/jars/postgresql-42.6.0.jar" 